<div class="container mt-5">
    <!-- Formulario para ingresar los datos -->
    <div class="card">
      <div class="card-header">
        <h3>Formulario de Cálculo</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="calculoForm" (ngSubmit)="onSubmit()">
          <div class="form-group mt-3">
            
            <div class="row">
                <div class="col-4">
                   
                    <label for="valor2">Monto</label>
                    <input type="number" id="monto" class="form-control" formControlName="monto">
                    <div *ngIf="calculoForm.get('monto')?.invalid && calculoForm.get('monto')?.touched" class="text-danger">
                      Este campo es obligatorio.
                    </div>
                </div>
                <div class="col-4">
                    <label for="valor1">Periodo (meses)</label>
                    <input type="number" id="meses" class="form-control" formControlName="meses">
                    <div *ngIf="calculoForm.get('meses')?.invalid && calculoForm.get('meses')?.touched" class="text-danger">
                      Este campo es obligatorio.
                    </div>
                    
                </div>
                <div class="col-4">

                    <label for="valor2">Interés</label>
                    <input type="number" id="interes" class="form-control" formControlName="interes">
                    <div *ngIf="calculoForm.get('interes')?.invalid && calculoForm.get('interes')?.touched" class="text-danger">
                      Este campo es obligatorio.
                    </div>
                </div>
            </div>
            
          </div>
          @if(this.clientes.length > 0){

            <div class="row">
              <div class="col-12">
                <div class="form-group mt-3">
                  <label for="cliente">Cliente</label>
                            <select id="cliente" class="form-control" formControlName="cliente">
                                <option *ngFor="let cliente of clientes" [value]="cliente.idusuario">{{ cliente.nombre }} ({{cliente.correo}})</option>
                            </select>
                </div>
              </div>
              
             </div>
          }@else {
            <div class="form-group mt-3">
              <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              Cargando clientes...
            </div>
          }
          
          
          <button type="submit" class="btn btn-primary mt-4" [disabled]="calculoForm.invalid || loadingSolicitud">

            Calcular
          </button>
        </form>
      </div>
    </div>  
</div> 

