.table-body{
    text-align: center;
}
.table-header{
    text-align: center;
    font-size: large;
}
.fullscreen-swal-popup {
    width: 100vw; /* Ocupa el ancho completo de la pantalla */
    max-width: 100vw !important;
    height: 100vh; /* Ocupa la altura completa de la pantalla */
    max-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Contenedor de HTML que hace que el contenido de la tabla sea desplazable */
  .scrollable-swal-html {
    flex-grow: 1; /* Permite que ocupe el espacio disponible en el modal */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
  }
  
  /* Contenedor de la tabla con desplazamiento */
  .table-container {
    max-height: 80vh; /* Controla la altura del contenedor de la tabla */
    overflow-y: auto; /* Habilita el desplazamiento en la tabla */
    width: 100%; /* Asegura que la tabla ocupe el ancho completo */
  }
  