<div class="container mt-5">
    <h2 class="mb-4">Solicitudes de Prestamo</h2>
    <table class="table table-striped table-bordered">
      <thead class="table-header">
        <tr>
          <th>Fecha de Solicitud</th>
          <th>Monto Pedido</th>
          <th>Aprobado</th>
          <th>Detalles</th>
        </tr>
      </thead>
      <tbody class="table-body">
        @if(!this.loadingHistorial){
          <tr *ngFor="let item of data">
            <td>{{ item.fecha_solicitud | date }}</td>
            <td>{{ item.monto| currency }}</td>
            <td>
              <span [class]="item.aprovado ? 'badge bg-success' : 'badge bg-danger'">
                {{ item.aprovado ? 'Sí' : 'No' }}
              </span>
            </td>
            <td>
              <button class="btn btn-outline-info btn-sm" (click)="mostrarDetalles(item)">
                Ver detalles
              </button>
            </td>
          </tr>
        }@else {
          <tr>
            <td [colSpan]="4">
              <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              Cargando historial...
            </td>
          </tr>
        }

      </tbody>
    </table>
  </div>
