<footer>
    <div class="footer-content">
      <div class="footer-section about">

        <p>
        </p>
        <div class="contact">
          <img src="shooky.gif" alt="Shooky" class="img-fluid" style="max-height: 100px;">
        </div>
      </div>
      <div class="footer-section links">
        <h2>Links rápidos</h2>
        <ul>
        </ul>
      </div>
      <div class="footer-section social">
        <h2>Síguenos</h2>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; Prestamos
    </div>
  </footer>
