/* Estilo para el botón activo */
.nav-link:focus {
  font-weight: bold;
  color: #ffffff; /* Cambia el color según tus preferencias */
}
.active {
    font-weight: bold;
    color: #ffffff; /* Cambia el color según tus preferencias */
  }